@import 'src/sass/normalize';
// @import 'src/sass/material-icons';

html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  box-sizing: border-box;
  line-height: 1.618;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* suppress focus ring on form controls for mouse users */
[data-whatintent='mouse'] *:focus {
  outline: none;
}
